In [25]:
import json

data = [
    {"name": "john doe", "email": "JOHN@example.com", "phone_number": "123-456-7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123 Main St, New York, NY 10001"},
    {"name": "Jane Smith", "email": "jane.smith@email.com", "phone_number": "123-456-7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john_doe@example.com", "phone_number": "123 456 7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "mary johnson", "email": "mary_johnson@domain.com", "phone_number": "234-567-8901", "address": "789 Oak St, Chicago, IL 60601"},
    {"name": "Mary Johnson", "email": "mary.johnson@domain.com", "phone_number": "234 567 8901", "address": "789 Oak St, Chicago, IL 60601"},
    {"name": "susan brown", "email": "SUSAN.BROWN@EXAMPLE.com", "phone_number": "345-678-9012", "address": "101 Pine St, Miami, FL 33101"},
    {"name": "SUSAN BROWN", "email": "susan.brown@example.com", "phone_number": "3456789012", "address": "101 Pine St, Miami, FL 33101"},
    {"name": "James White", "email": "james.white@example.com", "phone_number": "456-789-0123", "address": "202 Maple St, Boston, MA 02101"}
]

# Open a file in write mode and save the data as JSON
with open('data.json', 'w') as json_file:
    json.dump(data, json_file, indent=4)
data

[{'name': 'john doe',
  'email': 'JOHN@example.com',
  'phone_number': '123-456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '123-456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john_doe@example.com',
  'phone_number': '123 456 7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'mary johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '234-567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '234 567 8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'susan brown',
  'email': 'SUSAN.BROWN@EXAMPLE.com',
  'phone_number': '345-678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'SUSAN BROWN',
  'email': 'susan.brown@example.com',
  'phone_number': '3456789012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '456-789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [27]:
with open('data.json', 'r') as json_file:
    json.load(json_file)
data

[{'name': 'john doe',
  'email': 'JOHN@example.com',
  'phone_number': '123-456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'Jane.Smith@Email.com',
  'phone_number': '(123) 456 7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '123-456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john_doe@example.com',
  'phone_number': '123 456 7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'mary johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '234-567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '234 567 8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'susan brown',
  'email': 'SUSAN.BROWN@EXAMPLE.com',
  'phone_number': '345-678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'SUSAN BROWN',
  'email': 'susan.brown@example.com',
  'phone_number': '3456789012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '456-789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [29]:
for i in data:
    i['email'] = i['email'].lower()
data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '123-456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '123-456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john_doe@example.com',
  'phone_number': '123 456 7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'mary johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '234-567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '234 567 8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'susan brown',
  'email': 'susan.brown@example.com',
  'phone_number': '345-678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'SUSAN BROWN',
  'email': 'susan.brown@example.com',
  'phone_number': '3456789012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '456-789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [4]:
for i in data:
    i["name"] = i["name"].title()
data

[{'name': 'John Doe',
  'email': 'john@example.com',
  'phone_number': '123-456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456 7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'John Doe',
  'email': 'john@example.com',
  'phone_number': '1234567890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '123-456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'John Doe',
  'email': 'john_doe@example.com',
  'phone_number': '123 456 7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Mary Johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '234-567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '234 567 8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Susan Brown',
  'email': 'susan.brown@example.com',
  'phone_number': '345-678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'Susan Brown',
  'email': 'susan.brown@example.com',
  'phone_number': '3456789012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '456-789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [31]:
import re
def clean_num(phone):
    #a = r'\D'
    k= re.sub(r'\D','',phone)
    if len(k) == 11:
        k = k[1:]
    elif len(k) == 12:
        k = k[2:]
    if len(k) == 10:
         return f"({k[0:3]}) {k[3:6]}-{k[6:]}"
for i in data:
    i['phone_number'] = clean_num(i['phone_number'])
data

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john_doe@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'mary johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '(234) 567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '(234) 567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'susan brown',
  'email': 'susan.brown@example.com',
  'phone_number': '(345) 678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'SUSAN BROWN',
  'email': 'susan.brown@example.com',
  'phone_number': '(345) 678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '(456) 789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [33]:
for i in data:
    print(i['phone_number'])

(123) 456-7890
(123) 456-7890
(123) 456-7890
(123) 456-7890
(123) 456-7890
(234) 567-8901
(234) 567-8901
(345) 678-9012
(345) 678-9012
(456) 789-0123

In [35]:
new = data
new

[{'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'jane smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'Jane Smith',
  'email': 'jane.smith@email.com',
  'phone_number': '(123) 456-7890',
  'address': '456 Elm St, Los Angeles, CA 90001'},
 {'name': 'john doe',
  'email': 'john_doe@example.com',
  'phone_number': '(123) 456-7890',
  'address': '123 Main St, New York, NY 10001'},
 {'name': 'mary johnson',
  'email': 'mary_johnson@domain.com',
  'phone_number': '(234) 567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'Mary Johnson',
  'email': 'mary.johnson@domain.com',
  'phone_number': '(234) 567-8901',
  'address': '789 Oak St, Chicago, IL 60601'},
 {'name': 'susan brown',
  'email': 'susan.brown@example.com',
  'phone_number': '(345) 678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'SUSAN BROWN',
  'email': 'susan.brown@example.com',
  'phone_number': '(345) 678-9012',
  'address': '101 Pine St, Miami, FL 33101'},
 {'name': 'James White',
  'email': 'james.white@example.com',
  'phone_number': '(456) 789-0123',
  'address': '202 Maple St, Boston, MA 02101'}]

In [37]:
data = {frozenset(item.items()) : 
            item for item in data}.values()
for i in data:
    print(i)

{'name': 'john doe', 'email': 'john@example.com', 'phone_number': '(123) 456-7890', 'address': '123 Main St, New York, NY 10001'}
{'name': 'jane smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': '456 Elm St, Los Angeles, CA 90001'}
{'name': 'Jane Smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': '456 Elm St, Los Angeles, CA 90001'}
{'name': 'john doe', 'email': 'john_doe@example.com', 'phone_number': '(123) 456-7890', 'address': '123 Main St, New York, NY 10001'}
{'name': 'mary johnson', 'email': 'mary_johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': '789 Oak St, Chicago, IL 60601'}
{'name': 'Mary Johnson', 'email': 'mary.johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': '789 Oak St, Chicago, IL 60601'}
{'name': 'susan brown', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': '101 Pine St, Miami, FL 33101'}
{'name': 'SUSAN BROWN', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': '101 Pine St, Miami, FL 33101'}
{'name': 'James White', 'email': 'james.white@example.com', 'phone_number': '(456) 789-0123', 'address': '202 Maple St, Boston, MA 02101'}

In [39]:
import re
def split_address(address):
    match = re.match(r"^(.*),\s*(.*),\s*([A-Z]{2})\s*(\d{5})$", address)
    if match:
        street, city, state, zip_code = match.groups()
        return {
            "street": street.strip(),
            "city": city.strip(),
            "state": state.strip(),
            "zip_code": zip_code.strip(),
        }
    else:
        return {"street": "", "city": "", "state": "", "zip_code": ""}  # Handle invalid addresses

for record in data:
    record["address"] = split_address(record["address"])

data

dict_values([{'name': 'john doe', 'email': 'john@example.com', 'phone_number': '(123) 456-7890', 'address': {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'zip_code': '10001'}}, {'name': 'jane smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': {'street': '456 Elm St', 'city': 'Los Angeles', 'state': 'CA', 'zip_code': '90001'}}, {'name': 'Jane Smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': {'street': '456 Elm St', 'city': 'Los Angeles', 'state': 'CA', 'zip_code': '90001'}}, {'name': 'john doe', 'email': 'john_doe@example.com', 'phone_number': '(123) 456-7890', 'address': {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'zip_code': '10001'}}, {'name': 'mary johnson', 'email': 'mary_johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': {'street': '789 Oak St', 'city': 'Chicago', 'state': 'IL', 'zip_code': '60601'}}, {'name': 'Mary Johnson', 'email': 'mary.johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': {'street': '789 Oak St', 'city': 'Chicago', 'state': 'IL', 'zip_code': '60601'}}, {'name': 'susan brown', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': {'street': '101 Pine St', 'city': 'Miami', 'state': 'FL', 'zip_code': '33101'}}, {'name': 'SUSAN BROWN', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': {'street': '101 Pine St', 'city': 'Miami', 'state': 'FL', 'zip_code': '33101'}}, {'name': 'James White', 'email': 'james.white@example.com', 'phone_number': '(456) 789-0123', 'address': {'street': '202 Maple St', 'city': 'Boston', 'state': 'MA', 'zip_code': '02101'}}])

In [41]:
for i in data:
    print(i)

{'name': 'john doe', 'email': 'john@example.com', 'phone_number': '(123) 456-7890', 'address': {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'zip_code': '10001'}}
{'name': 'jane smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': {'street': '456 Elm St', 'city': 'Los Angeles', 'state': 'CA', 'zip_code': '90001'}}
{'name': 'Jane Smith', 'email': 'jane.smith@email.com', 'phone_number': '(123) 456-7890', 'address': {'street': '456 Elm St', 'city': 'Los Angeles', 'state': 'CA', 'zip_code': '90001'}}
{'name': 'john doe', 'email': 'john_doe@example.com', 'phone_number': '(123) 456-7890', 'address': {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'zip_code': '10001'}}
{'name': 'mary johnson', 'email': 'mary_johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': {'street': '789 Oak St', 'city': 'Chicago', 'state': 'IL', 'zip_code': '60601'}}
{'name': 'Mary Johnson', 'email': 'mary.johnson@domain.com', 'phone_number': '(234) 567-8901', 'address': {'street': '789 Oak St', 'city': 'Chicago', 'state': 'IL', 'zip_code': '60601'}}
{'name': 'susan brown', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': {'street': '101 Pine St', 'city': 'Miami', 'state': 'FL', 'zip_code': '33101'}}
{'name': 'SUSAN BROWN', 'email': 'susan.brown@example.com', 'phone_number': '(345) 678-9012', 'address': {'street': '101 Pine St', 'city': 'Miami', 'state': 'FL', 'zip_code': '33101'}}
{'name': 'James White', 'email': 'james.white@example.com', 'phone_number': '(456) 789-0123', 'address': {'street': '202 Maple St', 'city': 'Boston', 'state': 'MA', 'zip_code': '02101'}}

In [45]:
# Display the state abbreviations
state_abbreviations = [record['address']['state'] for record in data]
print(state_abbreviations)

['NY', 'CA', 'CA', 'NY', 'IL', 'IL', 'FL', 'FL', 'MA']

In [59]:
import json

def convert_dict_values(obj):
    if isinstance(obj, dict):
        return {key: convert_dict_values(value) for key, value in obj.items()}
    elif isinstance(obj, list):
        return [convert_dict_values(item) for item in obj]
    else:
        return obj

# Convert the data to ensure all dict_values 
cleaned_data = convert_dict_values(data)

# Write the cleaned data to a JSON file
with open("Cleaned_sample.json", "w") as outfile:
    json.dump(cleaned_data, outfile, indent=4)

print("Data has been written to 'Cleaned_sample.json'.")

Data has been written to 'Cleaned_sample.json'.