In [1]:
k = int('x')

ValueError: invalid literal for int() with base 10: 'x'

In [5]:
k = int("10")
k

10

In [5]:
import secrets

# Generate a secure random number
secure_num = secrets.randbelow(100)  # Random number between 0 and 99
print(secure_num)

# Generate a secure random token
token = secrets.token_hex(16)  # 32-character hexadecimal string
print(token)

82
c23c5a5d8f8de1ef72700d5d74544b43

In [7]:
name = b'Ruddhi'

In [9]:
type(name)

bytes

In [11]:
for i in name:
    print(i)

82
117
100
100
104
105

In [13]:
for i in range(len(name)):
    print(i)

0
1
2
3
4
5

In [15]:
for i in range(name):
    print(i)

TypeError: 'bytes' object cannot be interpreted as an integer

In [21]:
import random

In [23]:
k = random.randint(1,100)

In [25]:
k

81

In [32]:
s = random.choice([1,2,3,4])
s

3

In [34]:
y = random.shuffle(rudd)
y

TypeError: 'str' object does not support item assignment

In [38]:
my_list = [1, 2, 3, 4, 5]

random.shuffle(my_list)

print(my_list)

[1, 4, 5, 2, 3]

In [44]:
x = 20 
x = 30
def my_function():
    return x

In [46]:
a = 10
k = str(a)

In [48]:
print(k)

10

In [52]:
type(k)

str

In [54]:
k = int("10")

In [56]:
k

10

In [58]:
k = complex(10)
k

(10+0j)

In [62]:
k = ord('k')
k

107

In [66]:
def type_caste(x):
    if type(x) == int:
        print("It is a integer")
    elif type(x) == float:
        print("It is a Float")
    elif type(x) == complex:
        print("It is a Complex")
    elif type(x) == str:
        print("It is a string")
    else:
        print("Invalid")

    return x
type_caste(10)

It is a integer

10

In [1]:
5//2

2

In [3]:
5/2

2.5

In [5]:
sumit-sawant = 4

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4118997887.py, line 1)

In [7]:
Sumit = 5

In [9]:
#comparison operators
a = 5 
b = 7
if a == b:
    print(True)
else:
    print(False)

False

In [11]:
if a != b:
    print(True)
else:
    print(False)

True

In [13]:
if a > b:
    print(True)
else:
    print(False)

False

In [15]:
if a < b:
    print(True)
else:
    print(False)

True

In [19]:
vikas = [0,1,2,8,10]
num = 2
if num in vikas:
    print("Present")
else:
    print("Not present")

Present

In [ ]:

def check_function(vikas):
    if target in vikas:
        print("it is present")
    else:
        print(" not present")
    return target
check_function([0,1,2,8,10])
target = int(input("Enter The Target :"))

In [ ]:
# diff between is and ==
a = [1,2,3]
b = [1,2,3]
print(a==b)
print(a is b)

In [ ]:
x = None 
if x:
    print("if x is none")
elif x is False:
    print("if x is not none")
else:
    print("None is not true not false")

In [1]:
a = 24
b = 23
c = a
print(a is c)

True

In [5]:
a = 1000
b = 1000
print(a is b)

False

In [11]:
for i in range(1,5):
    for j in range(1,5):
        if j >= i:
            print("*",end = " ")
        else:
            print(' ', end = ' ')
    print()

* * * *
  * * *
    * *
      *

In [13]:
import itertools
perms = itertools.permutations([1,2,3,4,5,6,7], 3)
for perm in perms:
    print(perm)

(1, 2, 3)
(1, 2, 4)
(1, 2, 5)
(1, 2, 6)
(1, 2, 7)
(1, 3, 2)
(1, 3, 4)
(1, 3, 5)
(1, 3, 6)
(1, 3, 7)
(1, 4, 2)
(1, 4, 3)
(1, 4, 5)
(1, 4, 6)
(1, 4, 7)
(1, 5, 2)
(1, 5, 3)
(1, 5, 4)
(1, 5, 6)
(1, 5, 7)
(1, 6, 2)
(1, 6, 3)
(1, 6, 4)
(1, 6, 5)
(1, 6, 7)
(1, 7, 2)
(1, 7, 3)
(1, 7, 4)
(1, 7, 5)
(1, 7, 6)
(2, 1, 3)
(2, 1, 4)
(2, 1, 5)
(2, 1, 6)
(2, 1, 7)
(2, 3, 1)
(2, 3, 4)
(2, 3, 5)
(2, 3, 6)
(2, 3, 7)
(2, 4, 1)
(2, 4, 3)
(2, 4, 5)
(2, 4, 6)
(2, 4, 7)
(2, 5, 1)
(2, 5, 3)
(2, 5, 4)
(2, 5, 6)
(2, 5, 7)
(2, 6, 1)
(2, 6, 3)
(2, 6, 4)
(2, 6, 5)
(2, 6, 7)
(2, 7, 1)
(2, 7, 3)
(2, 7, 4)
(2, 7, 5)
(2, 7, 6)
(3, 1, 2)
(3, 1, 4)
(3, 1, 5)
(3, 1, 6)
(3, 1, 7)
(3, 2, 1)
(3, 2, 4)
(3, 2, 5)
(3, 2, 6)
(3, 2, 7)
(3, 4, 1)
(3, 4, 2)
(3, 4, 5)
(3, 4, 6)
(3, 4, 7)
(3, 5, 1)
(3, 5, 2)
(3, 5, 4)
(3, 5, 6)
(3, 5, 7)
(3, 6, 1)
(3, 6, 2)
(3, 6, 4)
(3, 6, 5)
(3, 6, 7)
(3, 7, 1)
(3, 7, 2)
(3, 7, 4)
(3, 7, 5)
(3, 7, 6)
(4, 1, 2)
(4, 1, 3)
(4, 1, 5)
(4, 1, 6)
(4, 1, 7)
(4, 2, 1)
(4, 2, 3)
(4, 2, 5)
(4, 2, 6)
(4, 2, 7)
(4, 3, 1)
(4, 3, 2)
(4, 3, 5)
(4, 3, 6)
(4, 3, 7)
(4, 5, 1)
(4, 5, 2)
(4, 5, 3)
(4, 5, 6)
(4, 5, 7)
(4, 6, 1)
(4, 6, 2)
(4, 6, 3)
(4, 6, 5)
(4, 6, 7)
(4, 7, 1)
(4, 7, 2)
(4, 7, 3)
(4, 7, 5)
(4, 7, 6)
(5, 1, 2)
(5, 1, 3)
(5, 1, 4)
(5, 1, 6)
(5, 1, 7)
(5, 2, 1)
(5, 2, 3)
(5, 2, 4)
(5, 2, 6)
(5, 2, 7)
(5, 3, 1)
(5, 3, 2)
(5, 3, 4)
(5, 3, 6)
(5, 3, 7)
(5, 4, 1)
(5, 4, 2)
(5, 4, 3)
(5, 4, 6)
(5, 4, 7)
(5, 6, 1)
(5, 6, 2)
(5, 6, 3)
(5, 6, 4)
(5, 6, 7)
(5, 7, 1)
(5, 7, 2)
(5, 7, 3)
(5, 7, 4)
(5, 7, 6)
(6, 1, 2)
(6, 1, 3)
(6, 1, 4)
(6, 1, 5)
(6, 1, 7)
(6, 2, 1)
(6, 2, 3)
(6, 2, 4)
(6, 2, 5)
(6, 2, 7)
(6, 3, 1)
(6, 3, 2)
(6, 3, 4)
(6, 3, 5)
(6, 3, 7)
(6, 4, 1)
(6, 4, 2)
(6, 4, 3)
(6, 4, 5)
(6, 4, 7)
(6, 5, 1)
(6, 5, 2)
(6, 5, 3)
(6, 5, 4)
(6, 5, 7)
(6, 7, 1)
(6, 7, 2)
(6, 7, 3)
(6, 7, 4)
(6, 7, 5)
(7, 1, 2)
(7, 1, 3)
(7, 1, 4)
(7, 1, 5)
(7, 1, 6)
(7, 2, 1)
(7, 2, 3)
(7, 2, 4)
(7, 2, 5)
(7, 2, 6)
(7, 3, 1)
(7, 3, 2)
(7, 3, 4)
(7, 3, 5)
(7, 3, 6)
(7, 4, 1)
(7, 4, 2)
(7, 4, 3)
(7, 4, 5)
(7, 4, 6)
(7, 5, 1)
(7, 5, 2)
(7, 5, 3)
(7, 5, 4)
(7, 5, 6)
(7, 6, 1)
(7, 6, 2)
(7, 6, 3)
(7, 6, 4)
(7, 6, 5)

In [1]:
string = "WELCOMETOTHEPYTHONWORLD"

In [11]:
string[-6:]

'NWORLD'

In [17]:
string[::-1]
len(string)

23

In [23]:
string[:23:2]

'WLOEOHPTOWRD'

In [29]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
my_string[3:7]

'2010'

In [31]:
string[::-1]

'DLROWNOHTYPEHTOTEMOCLEW'

In [33]:
my_string[::-1]

'.sazzip owt rof nioctiB k01 diap enoemos ,0102 nI'

In [35]:
len(my_string)

49

In [39]:
my_string[:50:-1]

''

In [45]:
my_string[-46:-42]

'2010'

In [3]:
#Palindrome 
a = input("Enter string:")
if a[::-1] == a:
    print("It's a palindrome")
else:
    print("It's not a palindrome")

Enter string: aba

It's a palindrome

In [23]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
print(my_string.upper())
print(my_string.lower())
print(my_string.strip())
print(my_string.split())
print(my_string.replace("2010","2024"))

IN 2010, SOMEONE PAID 10K BITCOIN FOR TWO PIZZAS.
in 2010, someone paid 10k bitcoin for two pizzas.
In 2010, someone paid 10k Bitcoin for two pizzas.
['In', '2010,', 'someone', 'paid', '10k', 'Bitcoin', 'for', 'two', 'pizzas.']
In 2024, someone paid 10k Bitcoin for two pizzas.

In [3]:
a = "hello"
b = a
a = a + " world"
print(a)
print(b)

hello world
hello

In [5]:
a = "abc"
a[0] = 'q'
print(a)

TypeError: 'str' object does not support item assignment

In [ ]:
Q - Main string : ABCDCDC
  Substring : CDC
print count of substring

In [11]:
Main_string = "ABCDCDC"
Substring = "CDC"
len_sub = len(Substring)
count = 0
for i in range(len(Main_string)):
    if Main_string[i:len_sub + i] == Substring:
        count += 1
    else:
        continue
print(count)

2

In [ ]:
check if  string contains alpha numeric character or not

In [19]:
Given_string = "Ruddhi24@"
if Given_string.isalpha() and Given_string.isnum():
    print(False)
else:
    print(True)

True

In [25]:
s = "Ruddhi24@#"
for char in s:
    if char.isalnum():
        print("IS ALPHA NUMERIC")
    else:
        print("IS NOT")

IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS ALPHA NUMERIC
IS NOT
IS NOT

In [27]:
s = "Ruddhi24@#"

if s.isalnum():
    print("IS ALPHA NUMERIC")
else:
    print("IS NOT")

IS NOT

In [33]:
# important
def contains_alphanumeric(s):
    # Check if there is at least one alphabetic or numeric character
    return any(char.isalnum() for char in s)
print(contains_alphanumeric("hello123"))
print(contains_alphanumeric("@#$"))
print(contains_alphanumeric("loki"))

True
False
True

In [ ]:
any(char.isalnum() for char in s)
any(char.isdigit() for char in s)
any(char.lower() for char in s)
any(char.upper() for char in s)

In [35]:
def contains_alphanumeric(s):
    # Check if there is at least one alphabetic or numeric character
    return (char.isalnum() and char.isdigit() for char in s )
print(contains_alphanumeric("hello123"))
print(contains_alphanumeric("@#$"))
print(contains_alphanumeric("loki"))

<generator object contains_alphanumeric.<locals>.<genexpr> at 0x000002CB753D2E90>
<generator object contains_alphanumeric.<locals>.<genexpr> at 0x000002CB753D2E90>
<generator object contains_alphanumeric.<locals>.<genexpr> at 0x000002CB753D2E90>

In [45]:
def check_str(s):
    if s.isalpha() and s.isdigit():
        return True
    else:  
        return False
print(check_str("hello123"))
print(check_str("loki"))

False
False

In [64]:
def check_str(string):
    s='~!@#$%^&*()'
    if i in s:
        print("Not Alphanumeric")
    else:
        print("Alphanumeric")
    return check_str("Ruddhi$24")

In [68]:
def check_str(string):
    special_chars = '~!@#$%^&*()_+{}|:"<>?/-=[];,.'
    for char in string:
        if char in special_chars:
            continue
        print
            return 
        print("Alphanumeric")
check_str("Ruddhi$24")

Alphanumeric
Alphanumeric
Alphanumeric
Alphanumeric
Alphanumeric
Alphanumeric
Not Alphanumeric

In [74]:
def check_str(string):
    special_chars = '~!@#$%^&*()_+{}|:"<>?/-=[];,. '
    for char in string:
        if char in special_chars:
            print("Not Alphanumeric")
            return
    print("Alphanumeric")


check_str("Ruddhi24") 
check_str("Ruddhi$24") 
check_str("12345")     
check_str("hello!")      
check_str("hello world")

Alphanumeric
Not Alphanumeric
Alphanumeric
Not Alphanumeric
Not Alphanumeric

In [ ]:
import re
p = [A-Z a-z 0-9]
findall

In [3]:
li = [1,2,3,4]
li.append(5)
li[1] = 5
li

[1, 5, 3, 4, 5]

In [17]:
#sort the list without sorted keyword
li = [2,6,7,8,1,3,2]
sorted_li = []
for i in range(len(li)):
    if li[i+i] >= li[i+1]:
        sorted_li.append(li[i])
    else:
        sorted_li.append(li[i+1])

IndexError: list index out of range

In [ ]:
#sort the list without sorted keyword
li = [2,6,7,8,1,3,2]
sorted_li = []
for i in range(len(li)):
    for j in range(i+1,len(li)):
        if li[i] <= li[j]:
            sorted_li.append(li[

In [23]:
li = [2,6,7,8,1,3,2]

for i in range(len(li)):
    for j in range(i+1,len(li)):
        if li[i] >= li[j]:
            li[i],li[j] = li[j],li[i]
print(li)

[1, 2, 2, 3, 6, 7, 8]

In [49]:
li = [ print("*" * i) for i in range(1,6) ]
li

*
**
***
****
*****

[None, None, None, None, None]

In [59]:
li= [2,3,7,8,9,4]
k = len(li)
print(li[0:k//2])

[2, 3, 7]

In [61]:
nested_list = [[1,2],[3,4],[9,0]]
print(nested_list[0][1])

2

In [69]:
#task:- Given two matrices A and B, calculate the product matrix C = A * B.
#Matrix multiplication requires that the number of columns in matrix A is equal to the number of rows in matrix B
A = [1,2,3]
B = [4,5,6]
C = []
if len(A) == len(B):
    for i in range(len(A)):
        C.append(A[i] * B[i])
print(C)

[4, 10, 18]

In [83]:
A = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]
B = [[16, 15, 14, 13], [12, 11, 10, 9], [8, 7, 6, 5], [4, 3, 2, 1]]
C = [ A[i] * B[i] if len(A) == len(B) else "Can't Multipy" for i in range(len(A)) ]
print(C)

TypeError: can't multiply sequence by non-int of type 'list'

In [85]:
m = len(A)
n = len(A[0])
p = len(B[0])  
C = [[0] * p for _ in range(m)]
for i in range(m): 
    for j in range(p):
        for k in range(n):
            C[i][j] += A[i][k] * B[k][j]
print("Matrix C:")
for row in C:
    print(row)

Matrix C:
[80, 70, 60, 50]
[240, 214, 188, 162]
[400, 358, 316, 274]
[560, 502, 444, 386]

In [1]:
r = "Ruddhi"
r[0:2]

'Ru'

In [9]:
r.split()

['Ruddhi']

In [11]:
list(r)

['R', 'u', 'd', 'd', 'h', 'i']

In [13]:
r = "My name is ruddhi"
r.split()

['My', 'name', 'is', 'ruddhi']

In [15]:
list(r)

['M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'r',
 'u',
 'd',
 'd',
 'h',
 'i']

In [21]:
import copy
original = [[1, 2, 3], [4, 5, 6]]
shallow_copy = copy.copy(original)
original[0][0] = 8
print("Original:", original)   
print("Shallow Copy:", shallow_copy)

Original: [[8, 2, 3], [4, 5, 6]]
Shallow Copy: [[8, 2, 3], [4, 5, 6]]

In [29]:
import copy
original = [[1, 2, 3], [4, 5, 6]]
deep_copy = copy.deepcopy(original)
deep_copy[0][0] = 8
print("Original:", original)   
print("deep Copy:", shallow_copy)

Original: [[1, 2, 3], [4, 5, 6]]
deep Copy: [[8, 2, 3], [4, 5, 6]]

In [39]:
corpus = '''John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.
Their meeting was about a new project, and John discussed the future of the industry.
John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.
The meeting will continue on 25th February 2024 in New York.'''

In [55]:
k = [i for i in corpus]

In [57]:
import re

In [59]:
corpus = '''John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.
Their meeting was about a new project, and John discussed the future of the industry.
John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.
The meeting will continue on 25th February 2024 in New York.'''

In [79]:
Names_record = r'\b[A-Z][a-z]+ [A-Z][a-z]+\b'
result=re.findall(Names_record,corpus)
result

['John Doe', 'Tech Solutions', 'Mary Jane', 'New York']

In [ ]:
#NLTK
#Nltk.postagging"N"

In [87]:
import nltk
from nltk.tokenize import word_tokenize
from nltk import pos_tag
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
corpus = '''John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.
Their meeting was about a new project, and John discussed the future of the industry.
John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.
The meeting will continue on 25th February 2024 in New York.'''
tokens = word_tokenize(corpus)
tagged_tokens = pos_tag(tokens)

names = [word for word, tag in tagged_tokens if tag == 'NNP' or tag == 'NNPS']

print("Extracted names:", names)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

Extracted names: ['John', 'Doe', 'Tech', 'Solutions', 'Inc', 'Mary', 'Jane', 'February', 'John', 'John', '@', 'Mary', '@', 'February', 'New', 'York']

In [99]:
import nltk
from nltk.tokenize import word_tokenize
from nltk import pos_tag, ne_chunk

# Ensure that required NLTK datasets are downloaded
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

# Example text corpus
text = '''John Doe is the CEO of Tech Solutions Inc. He met with Mary Jane on 12th February 2024.
Their meeting was about a new project, and John discussed the future of the industry.
John's email is john.doe@techsolutions.com, and Mary can be contacted at mary.jane@corporation.org.
The meeting will continue on 25th February 2024 in New York.'''

# Tokenize the text
tokens = word_tokenize(text)

# Apply POS tagging
tagged_tokens = pos_tag(tokens)

# Perform Named Entity Recognition (NER)
ner_tree = ne_chunk(tagged_tokens)

# Extract person names (entities labeled as PERSON)
person_names = []
for chunk in ner_tree:
    if isinstance(chunk, nltk.Tree):  # Check if the chunk is a named entity
        label = chunk.label()
        if label == "PERSON":  # Filter for people names
            name = " ".join([word for word, tag in chunk])  # Combine the words in the chunk
            person_names.append(name)
person_names = list(set(person_names))
print("Extracted people's names:", person_names)

Extracted people's names: ['Mary', 'John', 'Mary Jane']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [115]:
import nltk
from nltk.tokenize import word_tokenize
from nltk import pos_tag, ne_chunk

# Ensure that required NLTK datasets are downloaded
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

# Example text with full names (e.g., "Barack Obama")
text = """
Barack Obama and Michelle Obama visited New York last week.
"""

# Tokenize the text
tokens = word_tokenize(text)

# Apply POS tagging
tagged_tokens = pos_tag(tokens)

# Perform Named Entity Recognition (NER)
ner_tree = ne_chunk(tagged_tokens)

# Extract person names (entities labeled as PERSON)
person_names = []
for chunk in ner_tree:
    if isinstance(chunk, nltk.Tree):  # Check if the chunk is a named entity
        label = chunk.label()
        if label == "PERSON":  # Filter for people names
            name = " ".join([word for word, tag in chunk])  # Combine the words in the chunk
            person_names.append(name)

# Remove duplicates by converting the list to a set and then back to a list
unique_person_names = list(set(person_names))

# Print the final extracted unique full names
print("Extracted unique full names:", unique_person_names)

Extracted unique full names: ['Michelle Obama', 'Barack']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [125]:
import nltk
from nltk.tokenize import word_tokenize
from nltk import pos_tag, ne_chunk

# NLTK datasets are need to download
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

text = """
Barack Obama and Michelle Obama visited New York last week.
"""

# Tokenize the text
tokens = word_tokenize(text)
print(tokens)

# Apply POS tagging
tagged_tokens = pos_tag(tokens)
print(tagged_tokens)

# Perform Named Entity Recognition (NER)
ner_tree = ne_chunk(tagged_tokens)
print(ner_tree)


# Extract person names (extracting names from ner,labeled as PERSON)
person_names = []
for chunk in ner_tree:
    if isinstance(chunk, nltk.Tree):  # Check if the chunk is a named entity
        label = chunk.label()
        if label == "PERSON":  # Filter for people names
            name = " ".join([word for word, tag in chunk])  # Combine the words in the chunk
            person_names.append(name)
print(person_names)

# Remove duplicates by converting the list to a set and then back to a list
unique_person_names = list(set(person_names))

# Print the final extracted unique full names
print("Extracted unique full names:", unique_person_names)

['Barack', 'Obama', 'and', 'Michelle', 'Obama', 'visited', 'New', 'York', 'last', 'week', '.']
[('Barack', 'NNP'), ('Obama', 'NNP'), ('and', 'CC'), ('Michelle', 'NNP'), ('Obama', 'NNP'), ('visited', 'VBD'), ('New', 'NNP'), ('York', 'NNP'), ('last', 'JJ'), ('week', 'NN'), ('.', '.')]
(S
  (PERSON Barack/NNP)
  (ORGANIZATION Obama/NNP)
  and/CC
  (PERSON Michelle/NNP Obama/NNP)
  visited/VBD
  (GPE New/NNP York/NNP)
  last/JJ
  week/NN
  ./.)
['Barack', 'Michelle Obama']
Extracted unique full names: ['Michelle Obama', 'Barack']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\RuddhiBhagat\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [129]:
a = [print("*" * i) for i in range(5) ]
a

*
**
***
****

[None, None, None, None, None]

In [131]:
for i in range(1,5):
    for j in range(1,8):
        if j>=5-i and j <= 3+i:
            print("*",end = '')
        else:
            print(" ",end = '')
    print()

   *
  ***
 *****
*******

In [135]:
a = [print("*")  if j>=5-i and j <= 3+i else print(" ") for i in range(1,5) for j in range(1,8) ]

*





*
*
*



*
*
*
*
*

*
*
*
*
*
*
*

In [137]:
# Use list comprehension to generate each row of the pyramid
[print("".join(["*" if j >= 5 - i and j <= 3 + i else " " for j in range(1, 8)])) for i in range(1, 5)]

   *
  ***
 *****
*******

[None, None, None, None]

In [139]:
# Use list comprehension to generate each row of the pyramid
[print("".join(["*" if j >= 5 - i and j <= 3 + i else " " for i in range(1, 5)])) for i in range(1, 8)]

   *
   *
   *
   *
   *
   *
   *

[None, None, None, None, None, None, None]

In [225]:
r = int(input())
for i in range(r):
    for j in range(r):
        if i==0 or j == 0  or j==4 or i==4:
            print("#",end = ' ')
        else:
            print(" ",end = ' ')
    print()

 5

# # # # #
#       #
#       #
#       #
# # # # #

In [1]:
#set
a = set("Ruddhi")
for i in a:
    print(i)

R
h
d
i
u

In [7]:
a = set("Ruddhi")
for i in a:
    print(i,ord(i))

R 82
h 104
d 100
i 105
u 117

In [5]:
squares = {x ** 2 for x in range(1, 6)}
print(squares)  # Output: {1, 4, 9, 16, 25}

{1, 4, 9, 16, 25}

In [13]:
s= [1,2,3,4,3,2]
count = 0
k =[count+1 for i in range(len(set(s))) if i in s ]
k

[1, 1, 1]

In [ ]:
#tuple
t = ([1,2,3]

In [3]:
t = (1, 2, 3, 4)
print(2 in t)
t.index(2)

True

1

In [5]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(i for i in nested_tuple)

<generator object <genexpr> at 0x0000028BDF2DE980>

In [9]:
empty_tuple = ()
for sub_tuple in nested_tuple:
    empty_tuple += sub_tuple

print(empty_tuple)

(1, 2, 3, 4, 5, 6)

In [11]:
words = ("apple", "banana", "cherry", "date")
 
# Generator with enumeration to find words longer than 5 characters
long_words = (word for index, word in enumerate(words) if len(word) > 5)

# To view the result, you can convert it to a list or iterate through it
print(list(long_words))

['banana', 'cherry']

In [19]:
words = ("apple", "banana", "cherry", "date")
result = []
for index,word in enumerate(words):
    if len(word) > 5:
        result.append(word)
print(result)

['banana', 'cherry']

In [25]:
#Write a generator function that produces even numbers starting from 0 and continues up to a given number n.
def even_numbers(n):
    number = 0
    while number <= n:
        yield number
        number += 2
n = 10
evens = even_numbers(n)

print(list(evens))

[0, 2, 4, 6, 8, 10]

In [27]:
n = 10
for num in range(0, n+1, 2):  # Generates a sequence of even numbers
    print(num, end=", ")

0, 2, 4, 6, 8, 10,

In [3]:
y = isinstance("Hello", str)
print(y)

True

In [5]:
#add and update element
fruits = ['apple', 'banana', 'cherry', 'date']
fruit_dict = {index: fruit for index, fruit in enumerate(fruits)}
print(fruit_dict)

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [9]:
fruit_dict['4'] = 'mango'
print(fruit_dict)

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date', '4': 'mango'}

In [23]:
result = { index:(index,fruit) for index, fruit in enumerate(fruits)}
print(result)

{0: (0, 'apple'), 1: (1, 'banana'), 2: (2, 'cherry'), 3: (3, 'date')}

In [25]:
# items , key , values
for key, value in result.items():
    print(f"{key}: {value}")

0: (0, 'apple')
1: (1, 'banana')
2: (2, 'cherry')
3: (3, 'date')

In [43]:
# count the char in str

In [69]:
s = "hello"
res = {char: s.count(char) for char in s}
print(res)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [39]:
from collections import Counter
s = "hello"
char_count = Counter(s)
print(char_count)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [ ]:
#from collections import Counter

In [45]:

# count the frequency of element
from collections import Counter
li = [1,1,2,2,3,3,4,4,5,5]
char_count = Counter(li)
print(char_count)

Counter({1: 2, 2: 2, 3: 2, 4: 2, 5: 2})

In [49]:
# invert the dictionary
res = {s.count(char):char for char in s}
print(res)

{1: 'o', 2: 'l'}

In [51]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruit_dict = {index: fruit for index, fruit in enumerate(fruits)}
print(fruit_dict)

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [53]:
fruits = ['apple', 'banana', 'cherry', 'date']
fruit_dict = {fruit: index for index, fruit in enumerate(fruits)}
print(fruit_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [55]:
# sort the dictionary on values
sample_dict = {'apple': 10, 'banana': 5, 'cherry': 20, 'date': 15}

sorted_dict = dict(sorted(sample_dict.items(), key=lambda item: item[1]))

In [63]:
names = ['Alice', 'Bob', 'Charlie']
scores = [95, 85, 88]
res = { index:(name, score) for index,(name, score) in enumerate(zip(names, scores))}
print(res)

{0: ('Alice', 95), 1: ('Bob', 85), 2: ('Charlie', 88)}

In [71]:
names = ['Alice', 'Bob', 'Charlie']
scores = [95, 85, 88]
print(dict(zip(names,scores)))

{'Alice': 95, 'Bob': 85, 'Charlie': 88}

In [1]:
data = [
    {"name": "john doe", "email": "JOHN@example.com", "phone_number": "123-456-7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123 Main St, New York, NY 10001"},
    # Add more records as needed with duplicates and formatting issues
]

In [ ]:
#Create a JSON file containing at least 10 records with potential duplicates and inconsistencies.

In [13]:
data = [
    {"name": "john doe", "email": "JOHN@example.com", "phone_number": "123-456-7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123 Main St, New York, NY 10001"},
    {"name": "john doe", "email": "JOHN@example.com", "phone_number": "123-456-7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "(123) 456 7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "john doe", "email": "john@example.com", "phone_number": "1234567890", "address": "123 Main St, New York, NY 10001"},
    {"name": "mark white", "email": "mark.white@example.com", "phone_number": "987-654-3210", "address": "789 Pine St, Chicago, IL 60601"},
    {"name": "mary johnson", "email": "mary.johnson@example.com", "phone_number": "555-123-4567", "address": "101 Maple Ave, San Francisco, CA 94102"},
    {"name": "john doe", "email": "John.Doe@Example.com", "phone_number": "123-456-7890", "address": "123 Main St, New York, NY 10001"},
    {"name": "alice brown", "email": "alice.brown@domain.com", "phone_number": "444-555-6666", "address": "202 Oak Rd, Houston, TX 77001"},
    {"name": "jane smith", "email": "Jane.Smith@Email.com", "phone_number": "123 456 7890", "address": "456 Elm St, Los Angeles, CA 90001"},
    {"name": "charlie green", "email": "charlie.green@example.net", "phone_number": "333-444-5555", "address": "303 Birch Ln, Phoenix, AZ 85001"},
    {"name": "mark white", "email": "mark.white@example.com", "phone_number": "9876543210", "address": "789 Pine St, Chicago, IL 60601"}
# Add more records as needed with duplicates and formatting issues
]

In [ ]:
#2) Preprocess the data:
#  * Remove duplicate entries using Python's set.
# * Use regular expressions to clean up phone numbers by enforcing a consistent format: (XXX) XXX-XXXX.eg- (123) 456-7890
# * Standardize the email format to lowercase.
#  * Ensure each name starts with a capital letter.

             name                      email    phone_number  \
0        john doe           JOHN@example.com    123-456-7890
1      jane smith       Jane.Smith@Email.com  (123) 456 7890
2        john doe           john@example.com      1234567890
3        john doe           JOHN@example.com    123-456-7890
4      jane smith       Jane.Smith@Email.com  (123) 456 7890
5        john doe           john@example.com      1234567890
6      mark white     mark.white@example.com    987-654-3210
7    mary johnson   mary.johnson@example.com    555-123-4567
8        john doe       John.Doe@Example.com    123-456-7890
9     alice brown     alice.brown@domain.com    444-555-6666
10     jane smith       Jane.Smith@Email.com    123 456 7890
11  charlie green  charlie.green@example.net    333-444-5555
12     mark white     mark.white@example.com      9876543210

                                   address
0          123 Main St, New York, NY 10001
1        456 Elm St, Los Angeles, CA 90001
2          123 Main St, New York, NY 10001
3          123 Main St, New York, NY 10001
4        456 Elm St, Los Angeles, CA 90001
5          123 Main St, New York, NY 10001
6           789 Pine St, Chicago, IL 60601
7   101 Maple Ave, San Francisco, CA 94102
8          123 Main St, New York, NY 10001
9            202 Oak Rd, Houston, TX 77001
10       456 Elm St, Los Angeles, CA 90001
11         303 Birch Ln, Phoenix, AZ 85001
12          789 Pine St, Chicago, IL 60601

In [35]:
#Functions
def func_practise(**Ruddhi):
    for i ,j in Ruddhi.items():
        print(f"{i} : {j}")
print(func_practise(id = 42))

id : 42
None

In [89]:
# fruitmart
# friutname - price , companyname 
def fruit_mart(*com,**Fruitname):
    
    for k in com:
        for i , j in Fruitname.items():
            print(f"{i} : {j}, {k}")
        
print(fruit_mart("Reliancemart","Dmart",Apple = 30,Mango = 50))

Apple : 30, Reliancemart
Mango : 50, Reliancemart
Apple : 30, Dmart
Mango : 50, Dmart
None

In [95]:
#printing company name, fruit name and price of fruit
def fruit_mart(company_names, **vegetables):
    for key, value in vegetables.items():
        print(f"{company_names} {key}: {value}")
        print()  
 
 
fruit_mart("reliance", name_fruit="banana", price=30)
fruit_mart("freshmart", name_fruit="apple", price=90)

reliance name_fruit: banana

reliance price: 30

freshmart name_fruit: apple

freshmart price: 90

In [13]:

from functools import reduce 
li = [1,5,8,9,3,19,3]
reduce(lambda x, y: x if (x > y) else y, li)

TypeError: 'int' object is not iterable

In [28]:
(lambda_max = lambda x: max(x)
lambda_max(li)

SyntaxError: invalid syntax (4007725496.py, line 1)

In [30]:
list1 = [3,5,8,4,5,2,9,1]
largest = list(filter(lambda x: x==max(list1), list1))
 
print(largest)

[9]

In [36]:
#increment by ten 
li = [1,2,3,4]
incremented_li = lambda x: x + 10, li
incremented_li

(<function __main__.<lambda>(x)>, [1, 2, 3, 4])

In [48]:
from functools import reduce 
words = ["apple", "banana", "avocado", "grape", "apricot"]
words_starting_with_a = (list(reduce(filter(lambda word: word[0] == 'a', words))))

print(words_starting_with_a)

TypeError: reduce expected at least 2 arguments, got 1

In [50]:
from functools import reduce
words = ["apple", "banana", "avocado", "grape", "apricot"]
words_starting_with_a = list(map(lambda word: word.upper(), filter(lambda word: word[0] == 'a', words)))
print(words_starting_with_a)

['APPLE', 'AVOCADO', 'APRICOT']

In [1]:
class Animal:
    def sound(self):
        return "roar"
animal = Animal()
print(animal.sound())

def change_sound():
    return "meow"
"""This is a monkey patching"""
Animal.sound = change_sound()
print(Animal.sound)
 # runtime - where program actually executed.
 # In monkey patching we do temporary changes.
 # It can be used for testing purpose. eg : Unit testing.

roar
meow

In [5]:
GCP_data='''{'name':'subani','age':21,'mobile':9391840083,'state':'AP','Gender':'male'}'''
GCP_data
type(GCP_data)

str

In [7]:
import ast
 
GCP_data='''{'name':'subani','age':21,'mobile':9391840083,'state':'AP','Gender':'male'}'''
 
# converting string into dictionary
dictionary = ast.literal_eval(GCP_data)
 
# printing the generated dictionary
print(dictionary)

{'name': 'subani', 'age': 21, 'mobile': 9391840083, 'state': 'AP', 'Gender': 'male'}

In [9]:
GCP_data='''{'name':'subani','age':21,'mobile':9391840083,'state':'AP','Gender':'male'}'''
k = eval(GCP_data)
k

{'name': 'subani',
 'age': 21,
 'mobile': 9391840083,
 'state': 'AP',
 'Gender': 'male'}

In [1]:
N = eval(input("Enter The input:"))
print(N)

Enter The input: 3*2+1

7

In [3]:
new_input = eval(input("Enter expression : "))
print(type(new_input))
print(new_input)

Enter expression :  5+3

<class 'int'>
8

In [ ]:
# when we dont trust data type , use eval
# 20 on each monkey patching and eval

In [ ]:
# decorators are used to mimic functions
# so we can mock all those cloud details for unit testing and all this scenario is called monkey patching.

In [3]:
# decorators - extending the functionality of function
# monkeypatching changes the behavior of entire function
# decorator is principle to write a code.
# in decorators we pass function as argument

In [17]:

def add_sprinkles(func):
    def wrapper(flavour):
        print("Add sprinkles")
        func(flavour)
    return wrapper

def add_brownie(func):
    def wrapper(flavour):
        print("Add brownie")
        func(flavour)
    return wrapper


@add_brownie
@add_sprinkles
#this is a base function
def get_icecream(flavour):
    print(f"Here is your Icecream of  {flavour}")
get_icecream("chocolate")

Add brownie
Add sprinkles
Here is your Icecream of  chocolate

In [ ]:
# call function inside function without adding decorators